@import 'font/font.css';
.docute-button.docute-button-mini {
    margin: 0 5px;
    padding: 3px 10px;
    font-size: 10px;
}
.main, .sidebar, .header{
    background-color: #f3f2ee;
}
.sidebar-toggle{
    background-color: hsla(48, 17%, 94%, 0.86);
}
body{
    font-family: 'Linotte', sans-serif;
    background-color: #ecf0f1;
}